/*font utilisée */
@font-face {
  font-family: "Strjmono";
  src: url(./assets/fonts/Strjmono.ttf);
}
@font-face {
  font-family: "Starjedi";
  src: url(./assets/fonts/Starjedi.ttf);
}

/*font non-utilisée */
@font-face {
  font-family: "Starjhol";
  src: url(./assets/fonts/Starjhol.ttf);
}
@font-face {
  font-family: "Starjout";
  src: url(./assets/fonts/Starjout.ttf);
}
@font-face {
  font-family: "STJEDISE";
  src: url(./assets/fonts/STJEDISE.TTF);
}
@font-face {
  font-family: "Stjldbl1";
  src: url(./assets/fonts/Stjldbl1.ttf);
}
@font-face {
  font-family: "Stjldbl2";
  src: url(./assets/fonts/Stjldbl2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #e1e1e1;
  --color-button: #d8d800;
  --bg-color-page: #282c34b3;
  --font-title: "Strjmono";
  --font-text: "Starjedi";
  --font-size-title-home: 5rem;
  --font-size-title: 2rem;
  --font-size-text: 1rem;
}

.title-style {
  color: var(--color-text);
  font-family: var(--font-title);
  font-size: var(--font-size-title);
}

.text-style {
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  letter-spacing: 1px;
}

.background-page {
  background: url(./assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.button-style {
  background: var(--bg-color-page);
  color: var(--color-button);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  letter-spacing: 2px;
  margin: 3rem;
  padding: 0;
  border: 0.2rem solid;
  border-radius: 2rem;
  box-shadow: 0 0 0 1em transparent;
  padding: 0.5rem 2rem;
}

.button-style:hover {
  animation: pulse 2.5s infinite;
}

.box {
  background-color: var(--bg-color-page);
  padding: 1.5rem;
  outline: white solid 1px;
  border-radius: 5px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-button);
  }
}
.box-center-story {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-position-story {
  max-width: 60%;
  min-width: 60%;
}

.box-story1 {
  text-align: center;
  margin-bottom: 2rem;
}

.box-story2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}

.box-story2 img {
  width: 10rem;
  position: absolute;
  left: 16%;
  top: 38%;
}

.button-story {
  margin: 0;
  max-height: 3rem;
}
