.button-style {
  background: var(--bg-color-page);
  color: var(--color-button);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  letter-spacing: 2px;
  margin: 3rem;
  padding: 0;
  border: 0.2rem solid;
  border-radius: 2rem;
  box-shadow: 0 0 0 1em transparent;
  padding: 0.5rem 2rem;
}

.button-style:hover {
  animation: pulse 2.5s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-button);
  }
}
