.end-page-victory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .choice-stat {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    .gif-victory {
      height: 10rem;
      width: 10rem;
    }
    .buttons-set-stat {
      margin-top: 10%;
    }
  }
}
