.fight-page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.fight-title {
  padding-top: 4rem;
  text-align: center;
  font-size: 6rem;
  color: var(--color-button);
}

.button-fight {
  position: absolute;
  right: 45%;
}
