.planet-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  nav {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .selected-planet-detail {
    width: 80rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    .box-title-planet {
      top: auto;
      right: auto;
      position: absolute;
    }
    .img-planet-detail {
      width: 50%;
    }
    .type-box {
      position: absolute;
      width: 35%;
      top: 15%;
      right: 0;
      color: rgb(255, 255, 255);
    }
    .inhabitant-box {
      position: absolute;
      width: 35%;
      top: 35%;
      right: 0;
      color: rgb(255, 255, 255);
    }
    .box-description-planet {
      position: absolute;
      top: 55%;
      right: 0;
      width: 35%;
      .description-planet {
        font-family: var(--font-text);
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
        width: 100%;
      }
    }
  }
}

.ship-position {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 8%;
  color: var(--color-button);
  border: 0.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1em transparent;
}
.ship-position:hover {
  animation: pulse 2.5s infinite;
}
