.page-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 2rem;
  margin: auto;
  width: 70%;
  text-align: center;
  gap: 2rem;
  .title-player {
    width: 100%;
    color: var(--color-text);
    margin: auto;
  }
  form {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .avatar-label {
    align-self: flex-start;
    margin-left: 4rem;
  }
  .avatar-selection {
    .selected-avatar {
      background: transparent;
      border: none;
      width: 30%;
    }
    .selected-avatar:hover {
      cursor: pointer;
      border-radius: 50%;
      border: solid 4px var(--color-button);
    }
    .selected-avatar:focus {
      border: solid 4px var(--color-button);
      border-radius: 50%;
    }
  }

  .name-label .text-style {
    font-size: 1.5rem;
    color: var(--color-text);
    align-self: flex-start;
    margin-left: 4rem;
  }
  .input-form {
    height: 2rem;
    margin-left: 1rem;
  }
  .button-form {
    align-self: flex-end;
    margin: 1rem;
  }

  .text-player-page {
    color: black;
  }
  .button-player-avatar {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .button-player-avatar.selected {
    border: 2px solid black; /* Contour noir autour de l'image sélectionnée */
  }
}
