.page-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin: auto;
  width: 45%;
  background-color: aliceblue;
  border-radius: 5%;

  form {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .avatar-label {
    align-self: flex-start;
    margin-left: 4rem;
  }
  .name-label {
    align-self: flex-start;
    margin-left: 4rem;
  }
  .input-form {
    margin-left: 1rem;
  }
  .button-form {
    align-self: flex-end;
    margin: 1rem;
  }
  .title-player {
    color: black;
  }
  .text-player-page {
    color: black;
  }
  .button-player-avatar {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .button-player-avatar.selected {
    border: 2px solid black; /* Contour noir autour de l'image sélectionnée */
  }
}
