img {
  width: 15rem;
}

.planet-1 {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
.planet-2 {
  position: absolute;
  bottom: 17%;
  left: 45%;
}
.planet-3 {
  position: absolute;
  bottom: 33%;
  right: 10%;
}
.planet-4 {
  position: absolute;
  top: 20%;
  left: 60%;
}
.planet-5 {
  position: absolute;
  top: 20%;
  left: 35%;
}
.planet-6 {
  position: absolute;
  top: 5%;
  left: 10%;
}

.planet-7 {
  display: none;
}
